body{
  background-color: rgb(94, 96, 214);
}

#Title{
  background-color: rgb(126, 22, 74);
  float: left;
  clear: both;
  padding: 5px;
  margin: 5px;
  text-align: right;
  width: 240px;
  border: solid;
  border-width: 2px;
  border-color: lightskyblue;
}

ul li{
  list-style-type: none;
}

ul{
  float: right;
  padding-right: 13px;
  color: yellow;
}

.loci{
  color: black;
  float:left;
  clear: left;
  background-color: orange;
  list-style-type: none;
  width: 100px;
  padding: 5px;
  margin: 5px;
}
.item{
  color: black;
  float:left;
  width: 100px;
  background-color: greenyellow;
  list-style-type: none;
  padding: 5px;
  margin: 5px;
  height: 18px;
  text-align: left;
}

#LeftContainer{
  width: 35%;
  float: left;
}

#RightContainer{
  width: 65%;
  height: 75%;
  float: right;
}

.block{
  height: 30px;
  background-color: black;
  width: 30px;
}
.firstColor{
  background-color: black;
}
.secondColor{
  background-color: grey;
}
#LociItem{
  float: left;
}


.btn{
  float: right;
}

.btn1{
  float: left;
}

.add{
  background-color: plum;
}

h1{
  color: yellow
}
.lociLabel{
  color: yellow
}