body{
  background-color: rgb(201, 165, 120);
}

#Title{
  background-color: hotpink;
 float: left;
 clear: both;
  padding: 5px;
  margin: 5px;
}

.loci{
  float:left;
  clear: left;
  background-color: orange;
  list-style-type: none;
  width: 100px;
  padding: 5px;
  margin: 5px;
}
.item{
  float:left;
  width: 100px;
  background-color: greenyellow;
  list-style-type: none;
  padding: 5px;
  margin: 5px;
}

#LeftContainer{
  width: 50%;
  float: left;
}

#RightContainer{
  width: 50%;
  height: 75%;
  /* background-color: black; */
  float: left;
}

.block{
  height: 30px;
  background-color: black;
  width: 30px;
}
.firstColor{
  background-color: black;
}
.secondColor{
  background-color: grey;
}